footer {
    background-image: url(/assets/images/Background_Contacts.png);
    background-size: cover;
    height: 787px;
}

.h4-foo {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--subtitle);
    color: var(--purple);
    padding-top: 120px;
}

.p-foo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 8px 48px;
    font: var(--text-md);
    color: var(--gray-500);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    padding-inline: 560px;
}

ul li .sp {
    padding-left: 10px;
}

ul li a {
    display: flex;
    justify-content: initial;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--gray-300);
    border-radius: 10px;
    text-decoration: none;
    font: var(--text-sm);
    color: var(--gray-500);
    
}

ul li a:hover {
    border: solid 1px #23bbbe;
}

#seta-1 #seta-2 #seta-3 #seta-4 img {
    width: 5px;
}

#seta-1 {
    padding-left: 220px;
}

#seta-2 {
    padding-left: 210px;
}

#seta-3 {
    padding-left: 230px;
}

#seta-4 {
    padding-left: 237px;
}