body {
    background-image: url(/assets/images/Background_Intro.png);
    background-size: cover;
    height: 750px;
    
}

.perfil {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 3px var(--red);
    padding: 2px;
}

.h3 h3 {
    display: flex;
    justify-content: center;
    padding-top: 56px;
    font: var(--subtitle);
    color: var(--gray-500);
}

.h3 h3 strong {
    color: var(--red);
    padding-inline: 10px;
}

.h1 h1 {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    font: var(--title-lg);
    color: var(--gray-600);
}

#p {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font: var(--text-sm);
    color: var(--gray-400);
}

p {
    max-width: 680px;
}